@tailwind base;
@tailwind components;
@tailwind utilities;

.product-detail {
    width: 360px;
    height: calc(97vh - 80px);
    top: 80px;
}

.checkout-side-menu {
    width: 360px;
    height: calc(97vh - 80px);
    top: 80px;
}


.scrollable-cards {
    overflow-y: auto;
    height: calc(97vh - 80px);
}

